{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">GSB</h1>
     <h2 class="text-center text-secondary mb-4 pb-4 display-2">Bienvenue</h2>
 <p class="text-center m-4 p-4"><code>Hello everyone</code></p>

{% endblock %}